:root {
    --sidenav-width: 300px;
}

html {
    height: 100%;
}

body {
    font-family: 'Verdana', sans-serif;
    color: white;
    background-color: #333;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: 1em;
    border: 1px solid black;
}

th {
    background-color: #222;
}

p.note {
    border-left: 5px solid blue;
    padding: 0.5em;
    background-color: rgba(0, 0, 255, 0.25);
    width: 50%;
    box-shadow: 0 5px 10px #222;
}

h2, h3, h4 {
    width: 75%;
}

h2.gd-class {
    border-top: 5px solid yellow;
    padding: 0.5em;
    background-color: rgba(255, 255, 0, 0.25);
    box-shadow: 0 5px 10px #222;
    padding-left: 1.5em;
}

.sidenav {
    height: 100%;
    width: var(--sidenav-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
}

.main {
    padding-left: 1em;
    margin-left: var(--sidenav-width);
    width: 50%;
    background-color: #444;
    position: absolute;
    top: 0;
}

code {
    background-color: #222;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #111;
}